html
    head
        link(rel="stylesheet" href="/css/home.css")
    body
        #main__header HODL
        #main__slogan Put your crypto where your mouth is.
        #graph
            canvas.winner(height="300px" width="500px")
        script(src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.7.1/Chart.min.js")
        script(src="/js/home.js")