html
    head
        link(rel="stylesheet" href="/css/input.css")
    body
        #controller
            #main__header #[a(href="/") HODL]
            #main__slogan Enter Your Investments, you have {{MAX_INVESTMENT}} BTC and up to {{MAX_CURRENCIES}} Currencies
            table#input__body
                tr
                    td(colspan="2")
                        input#name.main__input(v-model="name" style="width: 100%" placeholder="Enter Your Name" maxlength="12")
                    td(colspan="2")
                        div.main__total(colspan="2" v-bind:class="{'main__total--invalid': propSum() < 0}") {{propSum().toFixed(3)}} BTC REMAINING
                tr(v-for="(inp,i) in inputs")
                    td
                        .remove__button(v-if="i != 0" @click="remove(i)") &times;
                    td
                        .main__label Ticker:
                        input.main__input(v-model="inp.ticker" v-bind:class="{'main__input--bad':inp.bad}" @keyup="price(inp)")
                    td
                        .main__label % BTC: 
                        input.main__input(maxlength="5" v-model="inp.prop")
                    td(style="position: relative")
                        .main__amount
                            {{amount(inp).toFixed(3)}}
                            strong(style="margin-left: 10px") {{inp.ticker}}
                tr
                    td
                        #add__button(@click="newInp()") +
                tr
                    td(colspan="4" v-show="name")
                        .captcha__explain Click on the Captcha when you want to submit
                        br
                        script(src="https://authedmine.com/lib/captcha.min.js")
                        div.coinhive-captcha(data-hashes="1024" data-key="7UpoOojoAB760jdkyuOtsCw5T2LdfZCd" data-callback="done")
        script(src="https://cdnjs.cloudflare.com/ajax/libs/vue/2.5.7/vue.min.js")
        script(src="/js/input.js")